body{
	flex-direction: column;
}
.nav,
.menu__icon-container{
	justify-content: flex-end;
	align-items: flex-end;
}
.menu__icon-container{
	background-color: #1e1e1e;
	border-bottom: 1px solid #1d1d1d;
}

.menu {
	max-height: 0;
	overflow: hidden;	
	width: 80%;
	margin: auto;
	transition: .75s ease-out;
}
.tab__header{
	text-align: center;
	margin: 15px 0;
}
.tab__image {
	height: 70vh;
	background-position: center;
	background-size:cover;
}

.tab__number {
	margin-top: -45px;
	font-size: 0.75em;
	font-weight: 700;
	opacity: .5;
	position: relative;
}

.menu__item {
	border-bottom: 1px solid #333;
}

.visible{
	display: flex;
	height: auto;
	max-height: 500px;
}

.menu__icon {
	display: block;
	transition: .5s;
	width: 25px;
	height: 25px;
}

.menu__icon:hover{
	filter: drop-shadow(0 0 5px white);
}

.tab__statistics {
	text-transform: uppercase;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	font-size: .5em;
	letter-spacing: 6px;
	margin-bottom: 5px;
}


.tab__info-container{
	margin: 15px;
}


.statistics__text {
	font-size: 12px;
}
