*{
	margin: 0;
	padding:0; 
}
li{
	list-style: none;
}
body{
	background-color: #222;
	min-height: 100vh;
	color: #888;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
}
.flex{
	display: flex;
	width: 100%;
}
.full{
	width: 100%;
}
.box{
	box-sizing: border-box;
}
.center{
	justify-content: center;
	align-items: center;
}

.number{
	font-weight: 600;
}
.header{
}
.nav {
	
}
.menu {
}
.menu__icon {
	display: none;
	margin: 15px;
}
.menu__item:hover,
.menu__icon:hover{
	cursor: pointer;
}
.menu__item:focus,
.menu__item:hover{
	outline: none;
	color:white;
	text-shadow: 0 0 7px white;
}
.menu__item {
	box-sizing: border-box;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	height: 50px;
	transition:  .5s;
	margin: 5px 0;
}


.menu__item::before{
	content: attr(data-content);
} 

.menu__item:last-of-type{
	border:none;
}
.column{
	flex-direction: column;
}
.container {
}
.separator{
	height: 0;
	width: 40px;
	margin: 0 10px; 
	border-bottom: 1px solid white;
}
.tab__number {
	align-items: center;
}
.tab__header {
	font-size: 3em;	
	font-weight: 300;
	text-transform: uppercase;
	color: white;
	font-family: 'Playfair Display', serif;
}
.tab__header::first-letter{
	font-size: 1.5em;
}
.tab__info-container{
	margin: 15px;
}
.tab__paragraph {
	text-align: justify;
	margin-bottom: 30px;
}
.tab__statistics {
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	font-size: .5em;
	letter-spacing: 6px;

	margin-bottom: 5px;
}
.statistics__header::before {
}
.statistics__text {
	font-size: 12px;
}
